name: pipeline

on:
  push:
  workflow_dispatch:

jobs:
  unit-test:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - run: mvn test  

      - name: Generate JaCoCo Badge
        id: jacoco
        uses: cicirello/jacoco-badge-generator@v2.0.1

      - name: Log coverage percentage
        run: |
          echo "coverage = ${{ steps.jacoco.outputs.coverage }}"
          echo "branch coverage = ${{ steps.jacoco.outputs.branches }}"

      - name: Upload JaCoCo coverage report
        uses: actions/upload-artifact@v4.4.0
        with:
          name: jacoco-report
          path: target/site/jacoco
  
  build: 
    runs-on: ubuntu-latest
    needs: unit-test
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Build with Maven
        run: mvn -B package -DskipTests --file pom.xml      

      - name: Display structure of downloaded files
        run: ls -R
        working-directory: target/
   
      - name: Upload JAR
        # This uploads artifacts from your workflow allowing you to share data between jobs
        # and store data once a workflow is complete.
        uses: actions/upload-artifact@v4.4.0
        with:
          # Set artifact name
          name: artifact
          # From this path
          path: ./target/demo-0.0.2.7-SNAPSHOT.jar
    
      - name: Package
        run: mvn package  
         
  deploy-STG:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/develop'
    steps:
      - name: Deploy 
        shell: bash
        run: |
          echo "Deploy STG"
          
  smoketest:
    runs-on: ubuntu-latest
    needs: deploy-STG
    if: github.ref == 'refs/heads/develop'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Smoketest
        shell: bash
        run: sh 'src/main/scripts/smoketest.sh'
    
  integrationtest:
    runs-on: ubuntu-latest
    needs: smoketest
    if: github.ref == 'refs/heads/develop'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: teste
        shell: bash
        run: sh 'src/main/scripts/testeIntegrado.sh'  
  
  deploy-Pre:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/release'
    steps:
      - name: Deploy 
        shell: bash
        run: |
          echo "Deploy Pre"  
    
  smoketestPre:
    runs-on: ubuntu-latest
    needs: deploy-Pre
    if: github.ref == 'refs/heads/release'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
    
      - name: test
        shell: bash
        run: sh 'src/main/scripts/smoketest.sh'
    
  functionaltest:
    runs-on: ubuntu-latest
    needs: smoketestPre
    if: github.ref == 'refs/heads/release'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: teste
        shell: bash
        run: sh 'src/main/scripts/testesFuncionais.sh'
         
  deploy-azure:
    needs: build 
    name: Deploy-azure 
    runs-on: ubuntu-latest 
    if: github.ref == 'refs/heads/main' 
    environment: 
      name: AZURE-PRO 
      url: devopsfiap-on-app-dng3eyhzemanafb9.eastus2-01.azurewebsites.net 
    steps: 
      - name: Download JAR 
        uses: actions/download-artifact@v4
        with: 
          name: artifact 
          path: target/ 
           
      - name: DeployAzure 
        uses: azure/webapps-deploy@v2 
        with: 
          app-name: devopsfiap-on-app 
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }} 
          package: '${{ github.workspace }}/target/*.jar'
          clean: false
